In [73]:
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

In [74]:
shp_path = "Gminy/Gminy.shp"

In [75]:
#sf = shp.Reader(shp_path)
map_df = gpd.read_file(shp_path)
map_df.head(1)

,JPT_SJR_KO,JPT_KOD_JE,JPT_NAZWA_,JPT_ORGAN_,JPT_JOR_ID,WERSJA_OD,WERSJA_DO,WAZNY_OD,WAZNY_DO,JPT_KOD__1,...,JPT_KJ_I_1,JPT_KJ_I_2,JPT_OPIS,JPT_SPS_KO,ID_BUFOR_1,JPT_ID,JPT_KJ_I_3,Shape_Leng,Shape_Area,geometry
0,GMI,2602042,NagÅowice,None,13031,2012-09-26,None,2012-09-26,None,None,...,2602042,None,None,UZG,0,826826,None,0.752667,0.014911,"POLYGON ((20.13719 50.59346, 20.13708 50.59347..."

In [76]:
map_df.shape

(2477, 30)

In [77]:
map_df['JPT_KOD_JE']=map_df['JPT_KOD_JE'].str[0:6]

In [78]:
map_df.head(1)

,JPT_SJR_KO,JPT_KOD_JE,JPT_NAZWA_,JPT_ORGAN_,JPT_JOR_ID,WERSJA_OD,WERSJA_DO,WAZNY_OD,WAZNY_DO,JPT_KOD__1,...,JPT_KJ_I_1,JPT_KJ_I_2,JPT_OPIS,JPT_SPS_KO,ID_BUFOR_1,JPT_ID,JPT_KJ_I_3,Shape_Leng,Shape_Area,geometry
0,GMI,260204,NagÅowice,None,13031,2012-09-26,None,2012-09-26,None,None,...,2602042,None,None,UZG,0,826826,None,0.752667,0.014911,"POLYGON ((20.13719 50.59346, 20.13708 50.59347..."

In [79]:
mieszkania_puste = pd.read_csv("gminy-seniorzy.csv", sep=',',dtype=str) 
#mieszkania_puste.head()

In [80]:
#mieszkania_puste["Gmina kod uk"]=mieszkania_puste["Gmina kod uk"].astype(str)+mieszkania_puste["Typ gminy kod"].astype(str)
mieszkania_puste["Gmina kod uk"]=mieszkania_puste["Gmina kod uk"].astype(str)

In [81]:
mieszkania_puste=mieszkania_puste.iloc[:,[0,1,3]]
mieszkania_puste.head()

  Gmina kod uk                  Gmina Liczba zgłoszeń
0       020101  Bolesławiec (miejska)               8
1       020102  Bolesławiec (wiejska)               1
2       020104           Nowogrodziec               1
3       020105             Osiecznica               2
4       020201                Bielawa               5

In [82]:
#mieszkania_puste=mieszkania_puste[['Nazwa','Wartosc','JPT_KOD_JE']]

merged2 = map_df.merge(mieszkania_puste, how='inner', left_on="JPT_KOD_JE", right_on="Gmina kod uk")
merged2.shape

(1181, 33)

In [ ]:


# set the value column that will be visualised
variable = 'Liczba zgłoszeń'# set the range for the choropleth values
vmin = mieszkania_puste['Liczba zgłoszeń'].min()
vmax = mieszkania_puste['Liczba zgłoszeń'].max()
 
#reate figure and axes for Matplotlib
fig, ax = plt.subplots(1, figsize=(30, 10))# remove the axis
ax.axis('off')# add a title and annotation
ax.set_title('budynki mieszkalne w gminie', fontdict={'fontsize': '25', 'fontweight' : '3'})
ax.annotate('źródło: GUS', xy=(0.6, .05), xycoords='figure fraction', fontsize=12, color='#555555')# Create colorbar legend
sm = plt.cm.ScalarMappable(cmap='Blues', norm=plt.Normalize(vmin=vmin, vmax=vmax))# empty array for the data range
sm.set_array([]) # or alternatively sm._A = []. Not sure why this step is necessary, but many recommends it# add the colorbar to the figure
fig.colorbar(sm)# create map
merged2.plot(column=variable, cmap='Blues', linewidth=0.8, ax=ax, edgecolor='0.8', scheme='quantiles')

/home/cengu/anaconda3/lib/python3.7/site-packages/mapclassify/classifiers.py:138: UserWarning: Warning: Not enough unique values in array to form k classes
  "Warning: Not enough unique values in array to form k classes", UserWarning
/home/cengu/anaconda3/lib/python3.7/site-packages/mapclassify/classifiers.py:140: UserWarning: Warning: setting k to 4
  Warn("Warning: setting k to %d" % k_q, UserWarning)